@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fafafa;
  color: #28283d;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  display: flex;
  padding-top: 48px;
}
header .logo {
  width: 112px;
  height: 28px;
  background-image: url("../assets/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
main .separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .separator .line {
  flex-grow: 1;
  width: 1px;
  height: 80px;
  background-color: #d1d1df;
}
main .separator .circle {
  width: 56px;
  height: 56px;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 16px/150% "Red Hat Display", sans-serif;
  color: #87879d;
  background-color: #fafafa;
}
main .separator.ontop {
  position: relative;
  top: 23px;
  z-index: 10;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
}
main #intro {
  max-width: 1800px;
}
@media (min-width: 800px) {
  main #intro {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
main #intro .hero1 {
  width: 100%;
  height: clamp(160px, 40vw, 303px);
  background-image: url("../assets/tablet/image-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 800px) {
  main #intro .hero1 {
    background-image: url("../assets/desktop/image-hero-left.png");
    background-size: cover;
    width: 394px;
    align-self: flex-start;
  }
}
main #intro .hero2 {
  width: 100%;
  height: clamp(160px, 40vw, 303px);
  display: none;
}
@media (min-width: 800px) {
  main #intro .hero2 {
    display: block;
    background-image: url("../assets/desktop/image-hero-right.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 394px;
    align-self: flex-end;
  }
}
main #intro article {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 305px;
  flex-grow: 1;
}
@media (min-width: 500px) {
  main #intro article {
    max-width: 448px;
  }
}
@media (min-width: 800px) {
  main #intro article {
    gap: 32px;
  }
}
main #intro article h1 {
  font: 800 clamp(40px, 6.25vw, 64px)/110% "Red Hat Display", sans-serif;
  color: #28283d;
}
main #intro article p {
  font: 500 clamp(14px, 5vw, 18px)/150% "Red Hat Display", sans-serif;
  color: #87879d;
}
main #intro article .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (min-width: 500px) {
  main #intro article .actions {
    flex-direction: row;
  }
}
main #content {
  margin-top: 64px;
  gap: 64px;
  padding: 0px 32px;
}
main #content .images-block {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
main #content .images-block .image {
  border-radius: 8px;
  height: 144px;
  max-width: 147.5px;
}
main #content .description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 504px;
}
main #content .description h3 {
  font: clamp(12px, 1.823vw, 16px)/110% "Red Hat Display", sans-serif;
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 900;
}
main #content .description h2 {
  font: 800 clamp(32px, 4.6875vw, 40px)/110% "Red Hat Display", sans-serif;
  color: #28283d;
  font-weight: 900;
}
main #content .description p {
  font: 500 clamp(14px, 5vw, 18px)/150% "Red Hat Display", sans-serif;
  color: #87879d;
}
main #content .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 500px) {
  footer {
    background-image: url("../assets/tablet/image-footer.jpg");
    background-size: cover;
  }
}
footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(77, 150, 169, 0.8);
  z-index: -1;
}
footer .footer-content {
  padding: 64px 32px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  max-width: 504px;
  text-align: center;
}
@media (min-width: 500px) {
  footer .footer-content {
    padding: 64px 0px;
  }
}
footer h2 {
  font: 800 clamp(32px, 4.6875vw, 40px)/110% "Red Hat Display", sans-serif;
}
footer p {
  font: 500 clamp(14px, 5vw, 18px)/150% "Red Hat Display", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  height: auto;
}
@media (min-width: 600px) {
  footer p {
    white-space: normal;
  }
}

h3 {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 4px;
}

button {
  background-color: #855fb1;
  color: #fafafa;
  padding: 16px 40px;
  border: none;
  border-radius: 29px;
  font: 700 16px/150% "Red Hat Display", sans-serif;
  cursor: pointer;
  width: fit-content;
  display: flex;
  gap: 4px;
}
button.purple {
  background-color: #855fb1;
}
button.purple span {
  color: #d9b8ff;
}
button.purple:hover {
  background-color: #b18bdd;
}
button.cyan {
  background-color: #4d96a9;
}
button.cyan span {
  color: #8fe3f9;
}
button.cyan:hover {
  background-color: #8fe3f9;
}

/*# sourceMappingURL=styles.css.map */
