@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
// Variables
$cyan-600: #4d96a9;
$cyan-300: #8fe3f9;
$purple-600: #855fb1;
$purple-300: #d9b8ff;
$slate-900: #28283d;
$slate-600: #87879d;
$slate-300: #d1d1df;
$white: #fafafa;

// Typography
$font-primary: "Red Hat Display", sans-serif;

$text-preset-1: clamp(40px, 5vw, 64px) / 110% $font-primary;
$text-preset-2: 800 clamp(32px, 5vw, 40px) / 110% $font-primary;
$text-preset-3: clamp(12px, 2vw, 16px) / 110% $font-primary; // letter spacing 4px;
$text-preset-4: 500 clamp(14px, 5vw, 16px) / 150% $font-primary;
$text-preset-5: 700 16px/150% $font-primary;

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $white;
  color: $slate-900;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  display: flex;
  padding-top: 48px;

  .logo {
    width: 112px;
    height: 28px;
    background-image: url("../assets/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .hero {
    width: 120%;
    height: 160px;
    background-image: url("../assets/tablet/image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .separator {
    display: flex;
    flex-direction: column;
    align-items: center;

    .line {
      flex-grow: 1;
      width: 1px;
      height: 80px;
      background-color: $slate-300;
    }

    .circle {
      width: 56px;
      height: 56px;
      border: 1px solid $slate-300;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font: $text-preset-5;
      color: $slate-600;
      background-color: $white;
    }

    &.ontop {
      position: relative;
      top: 23px;
      z-index: 10;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
  }

  #intro {
    gap: 48px;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      max-width: 305px;

      h1 {
        font: $text-preset-1;
        color: $slate-900;
        font-weight: 900;
        letter-spacing: 1px;
      }

      p {
        font: $text-preset-4;
        color: $slate-600;
      }

      .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }
    }
  }

  #content {
    gap: 64px;

    .images-block {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;

      .image {
        border-radius: 8px;
        height: 144px;
        max-width: 147.5px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h3 {
        font: $text-preset-3;
        color: $cyan-600;
        text-transform: uppercase;
        font-weight: 900;
      }

      h2 {
        font: $text-preset-2;
        color: $slate-900;
        font-weight: 900;
      }

      p {
        font: $text-preset-4;
        color: $slate-600;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

footer {
  padding: 64px 32px;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  max-width: 504px;
  text-align: center;
  position: relative;
  z-index: 1;

  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  // Create an overlay
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(77, 150, 169, 0.8); // Cyan with 80% opacity
    z-index: -1;
  }

  h2 {
    font: $text-preset-2;
  }

  p {
    font: $text-preset-4;
    letter-spacing: 0.2px;
    text-align: center;
    height: auto;

    @media (min-width: 600px) {
      white-space: normal;
    }
  }
}

h3 {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 4px;
}

button {
  background-color: $purple-600;
  color: $white;
  padding: 16px 40px;
  border: none;
  border-radius: 29px;
  font: $text-preset-5;
  cursor: pointer;
  width: fit-content;
  display: flex;
  gap: 4px;

  &.purple {
    background-color: $purple-600;
    span {
      color: $purple-300;
    }

    &:hover {
      background-color: #b18bdd;
    }
  }

  &.cyan {
    background-color: $cyan-600;
    span {
      color: $cyan-300;
    }
    &:hover {
      background-color: $cyan-300;
    }
  }
}
